


<div class="shelf-content">
  <h2 class="shelf-title">Learn Git and GitHub without any code!</h2>
  <p class="shelf-lead">
    Using the Hello World guide, you’ll create a repository, start a branch, <br>write comments, and open a pull request.
  </p>
  <a href="https://guides.github.com/activities/hello-world/" class="btn btn-primary shelf-cta" target="_blank" data-ga-click="Hello World, click, Clicked Let's get started button">Read the guide</a>
  <a href="/new" class="btn shelf-cta ml-3" data-ga-click="Hello World, click, Clicked new repository button - context:user">Start a project</a>
</div>
