

<div class="newsfeed-placeholder p-5">
  <h3 class="h2 lh-condensed mb-2">Discover interesting projects and people to populate your personal news feed.</h3>
  <p class="f4">
    Your news feed helps you keep up with recent activity on repositories you
    <a href="/trending" data-ga-click="activity_feed, currently_following_users_count:0;currently_starred_repos_count:0;events_shown:false;banner_shown:true;banner_dismissable:true" data-octo-click="activity_feed" data-octo-dimensions="actor_id:6068607,request_id:7781:0279:388EB31:586D631:59F7F9B9,action:banner-click-watch,currently_following_users_count:0,currently_starred_repos_count:0,events_shown:false,banner_shown:true,banner_dismissable:true">watch</a>
    and people you
    <a href="/trending/developers" data-ga-click="activity_feed, currently_following_users_count:0;currently_starred_repos_count:0;events_shown:false;banner_shown:true;banner_dismissable:true" data-octo-click="activity_feed" data-octo-dimensions="actor_id:6068607,request_id:7781:0279:388EB31:586D631:59F7F9B9,action:banner-click-follow,currently_following_users_count:0,currently_starred_repos_count:0,events_shown:false,banner_shown:true,banner_dismissable:true">follow</a>.
  </p>

  <a href="/explore" class="btn btn-outline mt-2" data-ga-click="activity_feed, currently_following_users_count:0;currently_starred_repos_count:0;events_shown:false;banner_shown:true;banner_dismissable:true" data-octo-click="activity_feed" data-octo-dimensions="actor_id:6068607,request_id:7781:0279:388EB31:586D631:59F7F9B9,action:banner-click-explore,currently_following_users_count:0,currently_starred_repos_count:0,events_shown:false,banner_shown:true,banner_dismissable:true">Explore GitHub</a>
</div>
